.google-reviews{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.google-review{
    flex: 1 1 0%;
}

.overall-rating{
    width: 100%;
}

.google-review img.review-star {
    width: 20px;
    color: #ccc;
    fill: #ccc;
    outline: #ccc;
}
.google-review  img.review-star.filled {
    color: #f1c40f;
    fill: #f1c40f;
    outline: #f1c40f;
}

