.google-reviews {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.google-review {
    flex: 1 1 0;
}

.overall-rating {
    width: 100%;
}

.google-review img.review-star {
    width: 20px;
}

